<div class="container" style="text-align:center">
<header>
<img width="150" alt="Angular Logo" src="./assets/images/angular.png">
</header>
<router-outlet></router-outlet>

<h1>{{ pageTitle }}</h1>

<div class="col">
<a class="btn btn-primary" routerLink="/tasks/new">Add New Task</a>

<table>
  <tr>
    <th>Name</th>
    <th>Priority</th>
    <th>Complete</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let task of tasks">
    <td>{{task.name}}</td>
    <td>
      <select>
        <option>{{task.priority}}</option>
      </select>
    </td>
    <td>
      <select>
        <option>{{task.complete ? '&#10003;' : '&#10005;'}}</option>
      </select>
    </td>
    <td>
      <button (click)="deleteTask(task)">Delete</button>
    </td>
  </tr>
</table>
</div>
</div>
