<div class="container">
<h1>Create a task</h1>
<div>
  <form #taskForm="ngForm" (ng-submit)="submitForm()">
    <div class="form-group">
      <label for="name">Task name: </label>
      <input type="text"
          id="name"
          placeholder="Add new task"
          required
          name="name"
          #name="ngModel"
          [(ngModel)]="task.name"
      >
    </div>
    <div [hidden]="name.valid || name.pristine">
      <p>Task name is required</p>
    </div>

    <div class="form-group">
      <label for="priority">Priority: </label>
      <input type="number" min="1" max="5"
          id="priority"
          placeholder="1 - 5 priority level"
          required
          name="priority"
          #priority="ngModel"
          [(ngModel)]="task.priority"
      >
    </div>
    <div [hidden]="priority.valid || priority.pristine">
      <p>Task priority is required, enter 1 - 5.</p>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div>
  {{ task.name }}
  {{ task.priority }}
</div>
<a class="btn btn-primary" routerLink="/tasks">Back to Task Dashboard</a>
</div>
