<h1>Create a task</h1>
<a class="btn btn-primary" routerLink="/tasks">Back to Task Dashboard</a>
<div>
  <form #taskForm="ngForm">
    <div class="form-group">
      <label for="name">Task name: </label>
      <input type="text"
          id="name"
          placeholder="Add new task"
          required
          name="name"
          #name="ngModel"
          [(ngModel)]="task.name"
      >
    </div>
    <div class="form-group">
      <label for="priority">Priority: </label>
      <input type="number" max="5"
          id="priority"
          placeholder="1 - 5 priority level"
          required
          name="priority"
          #priority="ngModel"
          [(ngModel)]="task.priority"
      >
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div>
  {{ task.name }}
  {{ task.priority }}
</div>
